# OSX
#
.DS_Store

# node.js
#
node_modules/
coverage
npm-debug.log
yarn-error.log
*.bundle
*.bundle.meta
package-lock.json
.cache/

# BUCK
buck-out/
\.buckd/


# Misc
/nbproject/private/
.env*
Brewfile.lock.json
logs/
.eslintcache
dist/
*.private-key.pem

# Jest
#
.jest/

# TypeScript
#
.ts-temp/
# svg
assets/svgs/.png-cache
